{% extends 'base.html' %}
{% block content %}

<!-- Page Header Start -->
<div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>About Us</h2>
                    </div>
                    <div class="col-12">
                        <a href="{% url 'home' %}">Home</a>
                        <a href="">About Us</a>
                    </div>
                </div>
            </div>
        </div>
<!-- Page Header End -->


<!-- About Start -->
<div class="about wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">
                            <p>Learn About Us</p>
                            <h2>Welcome to Yooga</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                We have one of the largest corporate wellness programs in town!  If you're interested in setting up a program for your company, please let us know.
                            </p>
                            <p>
                                Yoga is a realization in which we break patterns that shackle our souls.

                                Yoga is not about reaching, it is about letting go of everything that prevents the light of our inner self from illuminating our moments. It is more about letting go of everything that prevents us from experiencing who we already are.

                                Yoga works all aspects of being, not only the physical body, although we use the body, the vehicle we have for this walk through existence, to make our consciousness expand.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- About End -->


<div class="team">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>Yoga Trainer</p>
                    <h2>Expert Yoga Trainer</h2>
                </div>
                <div class="row">
                    {% for trainer in trainers %}
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="team-item">
                            <div class="team-img">
                                <img src="{{ trainer.image.url }}" alt="Image">
                            </div>
                            <div class="team-text">
                                <h2>{{ trainer.name }}</h2>
                                <p>{{ trainer.description }}r</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
</div>
<!-- Team End -->


{% endblock content %}
