{% extends 'base.html' %}
{% block content %}


<!-- Page Header Start -->
<div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h2>Yoga Blog</h2>
                    </div>
                    <div class="col-12">
                        <a href="">Home</a>
                        <a href="">Yoga Blog</a>
                    </div>
                </div>
            </div>
        </div>
<!-- Page Header End -->


<!-- Blog Start -->
<div class="blog">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <p>From Blog</p>
                    <h2>Latest Yoga Articles</h2>
                </div>
                <div class="row blog-page">
                    {% for post in posts %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="{{ blog.image.url }}" alt="Blog">
                            </div>
                            <div class="blog-text">
                                <h2>Lorem ipsum dolor</h2>
                                <div class="blog-meta">
                                    <p><i class="far fa-list-alt"></i>{{ blog.service }}</p>
                                    <p><i class="far fa-calendar-alt"></i>{{ blog.date }}</p>
                                </div>
                                <p>
                                   {{ blog.text|slice:"30" }}
                                </p>
                                <a class="btn" href="{% url 'single_page' post.id %}">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
</div>

{% endblock content %}